$list_item_title: #fff;
$list_background: #303030;
$list_background_pressed: #992416;
$list_divider: #272727;
$list_section_divider: #f4d442;
$menu_divider: #ffc107;
$counter_text_bg: #626262;
$counter_text_color: #c5c4c4;
$fragment_header_border: #ff0099;

$spell_tag_default_1: #992416;
$spell_tag_default_2: #f9792f;
$spell_tag_default_3: #f4d442;
$spell_tag_default_4: #157a12;
$spell_tag_default_5: #2032d6;
$spell_tag_default_6: #6af2ed;
$spell_tag_default_7: #8e2bc4;
$spell_tag_default_8: #f92fa8;
$spell_tag_default_9: #929292;
$spell_tag_default_10: #000000;

$button_disabled: #eeeeee;
$button_dark: #aaaaaa;
$button_light: #cccccc;
$button_border: #888888;
$button_text: #ffffff;
$disabled_button_text: #aaaaaa;
$layout_text: #000000;
$layout_shadow: #ffffff;
$advantage_text: #ffffff;
$advantage_shadow: #000000;
$disadvantage_text: #ffffff;
$disadvantage_shadow: #000000;
$dialog_title: #000000;
$note_background: #ffffff;
$background_detail_disabled_background: #aaaaaa;
$danger_text: #f90606;
$skill_with_disadvantage_background: #a00000;
$skill_with_disadvantage_background_dark: #700000;
$skill_with_advantage_background: #00a000;
$skill_with_advantage_background_dark: #007000;
$selected_feature_background: #aaaaaa;
$note_border: #000000;
$page_indicator_border: #000000;
$page_indicator_fill_unselected: #ffffff;
$page_indicator_fill_selected: #000000;

$slide_in_min_width: 250px;
$slide_in_large_min_width: 350px;
$slide_in_extra_large_min_width: 450px;
$slide_in_max_width: 500px;

$primary_color: #b71c1c;
$primary_color_light: #ffcdd2;
$secondary_color: #006E61;
$secondary_color_light: #b7dcd8;
$tertiary_color: #ffc107;
$tertiary_color_light: #f7e9c0;
$info-color: #00529B;
$info-color-light: #92b5d3;

$active-card-color: #006E61;
$non-active-card-color: #e0e0e0;

$primary_button_font: #ffffff;
$primary_button_hover: $list_background_pressed;

$secondary_button_font: #ffffff;
$secondary_button: $secondary_color;
$secondary_button_hover: #005B50;

$danger_button_font: #212529;
$danger_button: $tertiary_color;
$danger_button_hover: #E8B007;

$info_button_font: #ffffff;
$info_button: $info-color;
$info_button_hover: #003666;

$button_font_4: #ffffff;
$button_4: #444444;
$button_hover_4: #4f4f4f;

$button_font_5: #ffffff;
$button_5: transparent;
$button_hover_5: #4f4f4f;
