.modifiers {
  margin-left: 20px;
}

.num-levels-above-base {
  input {
    width: 70px;
    display: inline;
    margin: 0 5px;
  }

  .extra-per {
    margin-right: 5px;
  }

  .levels-above-base {
    margin-left: 5px;
  }
}

.modifier-details {
  margin-left: 10px;
}
