.page-content {
  flex-grow: 1;
  height: 100%;
}

.pager {
  flex-shrink: 0;
}

.limited-use-container {
  margin-left: 20px;
}

.add-limited-use-container {
  width: 100%;
  margin-bottom: 10px;

  .add-limited-use {
    margin: 0 auto;
    display:block;
  }
}
