<div class="form-group">
  <mat-checkbox
    (change)="spellcasterChange($event)"
    [disabled]="!editing"
    [checked]="monster.spellcaster">
  </mat-checkbox>
  <span>{{ 'Spellcaster' | translate }}</span>
</div>

<ng-container *ngIf="monster.spellcaster">
  <!--Caster Type-->
  <div class="caster-type-container form-group">
    <label>{{ 'Labels.CasterType' | translate }}</label>
    <span *ngIf="!editing">{{monsterConfigurationCollection.spellConfigurationCollection.casterType === '0' ? other : getCasterType(monsterConfigurationCollection.spellConfigurationCollection.casterType)?.name}}</span>
    <div *ngIf="editing">
      <mat-form-field>
        <mat-select [(ngModel)]="monsterConfigurationCollection.spellConfigurationCollection.casterType"
                    [ngModelOptions]="{standalone: true}"
                    (selectionChange)="casterTypeChange($event.value)">
          <mat-option *ngFor="let casterType of casterTypes" [value]="casterType.id">
            {{casterType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!--Spellcaster Level-->
  <div class="caster-type-container form-group">
    <label>{{ 'Labels.SpellcasterLevel' | translate }}</label>
    <span *ngIf="!editing">{{monster.spellcasterLevel.name}}</span>
    <div *ngIf="editing">
      <mat-form-field>
        <mat-select [(ngModel)]="spellcasterLevel"
                    [ngModelOptions]="{standalone: true}"
                    (selectionChange)="spellcasterLevelChange($event.value)">
          <mat-option *ngFor="let level of levels" [value]="level">
            {{level.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- Spell Slots -->
  <div *ngIf="!editing" class="form-group">
    <h3>{{ 'Headers.SpellSlots' | translate }}</h3>
    <div class="slots-header">
      <span [translate]="'Headers.Slot'" [translateParams]="{value: 1}" class="slot-value"></span>
      <span [translate]="'Headers.Slot'" [translateParams]="{value: 2}" class="slot-value"></span>
      <span [translate]="'Headers.Slot'" [translateParams]="{value: 3}" class="slot-value"></span>
      <span [translate]="'Headers.Slot'" [translateParams]="{value: 4}" class="slot-value"></span>
      <span [translate]="'Headers.Slot'" [translateParams]="{value: 5}" class="slot-value"></span>
      <span [translate]="'Headers.Slot'" [translateParams]="{value: 6}" class="slot-value"></span>
      <span [translate]="'Headers.Slot'" [translateParams]="{value: 7}" class="slot-value"></span>
      <span [translate]="'Headers.Slot'" [translateParams]="{value: 8}" class="slot-value"></span>
      <span [translate]="'Headers.Slot'" [translateParams]="{value: 9}" class="slot-value"></span>
    </div>
    <div class="spell-slots-display">
      <span class="slot-value">{{monster.spellSlots.slot1}}</span>
      <span class="slot-value">{{monster.spellSlots.slot2}}</span>
      <span class="slot-value">{{monster.spellSlots.slot3}}</span>
      <span class="slot-value">{{monster.spellSlots.slot4}}</span>
      <span class="slot-value">{{monster.spellSlots.slot5}}</span>
      <span class="slot-value">{{monster.spellSlots.slot6}}</span>
      <span class="slot-value">{{monster.spellSlots.slot7}}</span>
      <span class="slot-value">{{monster.spellSlots.slot8}}</span>
      <span class="slot-value">{{monster.spellSlots.slot9}}</span>
    </div>
  </div>

  <div *ngIf="editing"
       class="caster-type-spell-slots form-group">
    <h3>{{ 'Headers.SpellSlots' | translate }}</h3>
    <div class="caster-type-level-row">
      <div class="caster-type-level">
        <input *ngIf="editing" type="number" [(ngModel)]="monster.spellSlots.slot1" [disabled]="monsterConfigurationCollection.spellConfigurationCollection.casterType !== '0'" class="form-control inline" max="99" min="0" appInputNumber minValue="0" maxValue="99"/>
        <label>1</label>
      </div>
      <div class="caster-type-level">
        <input *ngIf="editing" type="number" [(ngModel)]="monster.spellSlots.slot2" [disabled]="monsterConfigurationCollection.spellConfigurationCollection.casterType !== '0'" class="form-control inline" max="99" min="0" appInputNumber minValue="0" maxValue="99"/>
        <label>2</label>
      </div>
      <div class="caster-type-level">
        <input *ngIf="editing" type="number" [(ngModel)]="monster.spellSlots.slot3" [disabled]="monsterConfigurationCollection.spellConfigurationCollection.casterType !== '0'" class="form-control inline" max="99" min="0" appInputNumber minValue="0" maxValue="99"/>
        <label>3</label>
      </div>
      <div class="caster-type-level">
        <input *ngIf="editing" type="number" [(ngModel)]="monster.spellSlots.slot4" [disabled]="monsterConfigurationCollection.spellConfigurationCollection.casterType !== '0'" class="form-control inline" max="99" min="0" appInputNumber minValue="0" maxValue="99"/>
        <label>4</label>
      </div>
      <div class="caster-type-level">
        <input *ngIf="editing" type="number" [(ngModel)]="monster.spellSlots.slot5" [disabled]="monsterConfigurationCollection.spellConfigurationCollection.casterType !== '0'" class="form-control inline" max="99" min="0" appInputNumber minValue="0" maxValue="99"/>
        <label>5</label>
      </div>
      <div class="caster-type-level">
        <input *ngIf="editing" type="number" [(ngModel)]="monster.spellSlots.slot6" [disabled]="monsterConfigurationCollection.spellConfigurationCollection.casterType !== '0'" class="form-control inline" max="99" min="0" appInputNumber minValue="0" maxValue="99"/>
        <label>6</label>
      </div>
      <div class="caster-type-level">
        <input *ngIf="editing" type="number" [(ngModel)]="monster.spellSlots.slot7" [disabled]="monsterConfigurationCollection.spellConfigurationCollection.casterType !== '0'" class="form-control inline" max="99" min="0" appInputNumber minValue="0" maxValue="99"/>
        <label>7</label>
      </div>
      <div class="caster-type-level">
        <input *ngIf="editing" type="number" [(ngModel)]="monster.spellSlots.slot8" [disabled]="monsterConfigurationCollection.spellConfigurationCollection.casterType !== '0'" class="form-control inline" max="99" min="0" appInputNumber minValue="0" maxValue="99"/>
        <label>8</label>
      </div>
      <div class="caster-type-level">
        <input *ngIf="editing" type="number" [(ngModel)]="monster.spellSlots.slot9" [disabled]="monsterConfigurationCollection.spellConfigurationCollection.casterType !== '0'" class="form-control inline" max="99" min="0" appInputNumber minValue="0" maxValue="99"/>
        <label>9</label>
      </div>
    </div>
  </div>

  <!--Spellcasting Ability-->
  <div class="spellcasting-ability-container form-group">
    <label>{{ 'Navigation.Manage.Spells.SpellcastingAbility' | translate }}</label>
    <span *ngIf="!editing">{{monsterConfigurationCollection.spellConfigurationCollection.spellcastingAbility === '0' ? none : getAbility(monsterConfigurationCollection.spellConfigurationCollection.spellcastingAbility)?.name}}</span>
    <div *ngIf="editing">
      <mat-form-field>
        <mat-select [(ngModel)]="monsterConfigurationCollection.spellConfigurationCollection.spellcastingAbility"
                    [ngModelOptions]="{standalone: true}"
                    (selectionChange)="spellcastingAbilityChange($event.value)">
          <mat-option *ngFor="let ability of abilities" [value]="ability.id">
            {{ability.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-icon matTooltip="{{ 'Tooltips.SpellcastingAbility' | translate }}" class="help-icon">
        help
      </mat-icon>
    </div>
  </div>

  <div class="form-group">
    <label>{{ 'Labels.SpellAttack' | translate }}</label>
    <span *ngIf="!editing" matTooltip="{{spellAttackTotalTooltip}}">{{spellAttackTotal}}</span>
    <div *ngIf="editing">
      <span matTooltip="{{spellAttackTooltip}}">{{spellAttackBase}} + </span>
      <input *ngIf="editing" type="number" class="form-control inline number-inline" max="99" min="0"
             appInputNumber minValue="0" maxValue="99"
             [(ngModel)]="monster.spellAttackModifier"
             [ngModelOptions]="{standalone: true}"
             (valueChange)="spellAttackMiscChange($event)"/>
      <span>= {{spellAttackTotal}}</span>
    </div>
  </div>

  <div class="form-group">
    <label>{{ 'Labels.SpellSave' | translate }}</label>
    <span *ngIf="!editing" matTooltip="{{spellSaveTotalTooltip}}">{{spellSaveTotal}}</span>
    <div *ngIf="editing">
      <span matTooltip="{{spellSaveTooltip}}">{{spellSaveBase}} + </span>
      <input *ngIf="editing" type="number" class="form-control inline number-inline" max="99" min="0"
             appInputNumber minValue="0" maxValue="99"
             [(ngModel)]="monster.spellSaveModifier"
             [ngModelOptions]="{standalone: true}"
             (valueChange)="spellSaveMiscChange($event)"/>
      <span>= {{spellSaveTotal}}</span>
    </div>
  </div>

  <span class="font-weight-bold" *ngIf="editing || monsterConfigurationCollection.spellConfigurationCollection.spellConfigurations.length > 0">{{ 'Labels.SpellsKnown' | translate }}</span>
  <app-monster-spell-configuration-list [editing]="editing"
                                        (configListUpdated)="handleConfigListUpdated()"
                                        [monster]="monster"
                                        [isPublic]="isPublic"
                                        [isShared]="isShared"
                                        [spellConfigurationCollection]="monsterConfigurationCollection.spellConfigurationCollection">
  </app-monster-spell-configuration-list>
</ng-container>
