<app-details headerName="{{ 'Navigation.Characters.Settings' | translate }}"
             (close)="cancelClick()"
             (primary)="continueClick()"
             (secondary)="cancelClick()"
             primaryLabel="{{ 'Save' | translate }}"
             secondaryLabel="{{ 'Cancel' | translate }}"
             class="details">
    <app-quick-action-settings [playerCharacter]="playerCharacter"
                               [settings]="settings">
    </app-quick-action-settings>
</app-details>

