<app-details headerName="{{ 'Headers.ProficiencyBonus' | translate }}"
             (close)="closeDetails()"
             (primary)="saveDetails()"
             (secondary)="closeDetails()"
             primaryLabel="{{ 'Save' | translate }}"
             secondaryLabel="{{ 'Cancel' | translate }}"
             class="details">
  <div>
    <label>{{ 'Labels.Base' | translate }}</label>
    <span>{{base}}</span>
  </div>

  <div *ngFor="let modifier of modifiersDisplay;">
    <app-label-value [labelValue]="modifier"></app-label-value>
  </div>

  <div class="form-group">
    <label>{{ 'Labels.Misc' | translate }}</label>
    <input type="number"
           class="form-control"
           min="0" max="99"
           appInputNumber minValue="0" maxValue="99"
           [ngModel]="misc"
           (valueChange)="miscChange($event)"/>
  </div>

  <div class="form-group">
    <label class="font-weight-bold">{{ 'Labels.Total' | translate }}</label>
    <span>{{total}}</span>
  </div>
</app-details>
