<div class="badge-container">
  <app-card-badge class="quantity" *ngIf="alwaysDisplayQuantity || quantity > 1" [value]="quantity" [maxValue]="maxValue"></app-card-badge>
<!--  <app-card-badge class="nested-count" *ngIf="nestedCount > 0" [value]="nestedCount" [maxValue]="maxValue"></app-card-badge>-->
<!--  <app-card-badge class="charges" *ngIf="maxCharges > 0" [value]="maxCharges" [maxValue]="maxValue"></app-card-badge>-->
<!--  <app-card-badge class="spell-count" *ngIf="spellCount > 0" [value]="spellCount" [maxValue]="maxValue"></app-card-badge>-->
</div>
