<div *ngFor="let item of pack.items" class="pack-item">
  <span (click)="onItemClick(item)" class="pack-item-name" [ngClass]="{'disabled': disabled}">{{item.item.name}}</span>
  <app-quantity-tag class="quantity-tag" [quantity]="item.quantity" [alwaysShowQuantity]="true"></app-quantity-tag>
</div>

<app-add-remove-item *ngIf="viewingItem != null"
                     [selectionItem]="viewingItem"
                     [selectable]="false"
                     (cancel)="closeItem()" >
</app-add-remove-item>
