.details {
  color: #ffffff;
}

.carrying-details-content {
  margin-left: 20px;
}

input {
  width: 70px;
  display: inline;
}

.carrying-label {
  margin-right: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
}
