.modifier-value {
  input {
    width: 70px;
    display: inline;
    margin: 0 5px;
  }
}

.num-levels-above-base {
  input {
    width: 70px;
    display: inline;
    margin: 0 5px;
  }
}

.divider{
  margin: 0 0 5px 0;
  border-color: #ffffff;
}

.plus {
  margin: 0 5px 0 0;
}

.modifier-values-container {
  margin-left: 20px;
}
