<div class="column-content">
  <div class="header-content">
    <mat-form-field class="page-selection">
      <mat-select [ngModel]="selectedPage"
                  (selectionChange)="onPageChange($event.value)">
        <mat-option *ngFor="let page of pages" [value]="page">
          {{ 'CharacterPageType.' + page | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="extra-options">
      <button mat-icon-button
              class="no-focus"
              [disabled]="menuActions.length === 0"
              [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item
                class="no-focus"
                *ngFor="let menuAction of menuActions"
                (click)="menuActionClick(menuAction)">
          <i [class]="menuAction.icon + ' menu-action-icon'"></i>
          <span>{{menuAction.label}}</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="content-data-full-height">
    <app-character-basic *ngIf="isBasic"
                         class="full-width"
                         [playerCharacter]="playerCharacter"
                         [collection]="collection">
    </app-character-basic>

    <app-creature-abilities *ngIf="isAbilities"
                            class="full-width"
                            [creature]="playerCharacter"
                            [collection]="collection">
    </app-creature-abilities>

    <app-character-actions *ngIf="isActions"
                           [columnIndex]="columnIndex"
                           class="full-width"
                           [playerCharacter]="playerCharacter"
                           [collection]="collection">
    </app-character-actions>

    <app-character-characteristics *ngIf="isCharacteristics"
                                   class="full-width"
                                   [playerCharacter]="playerCharacter"
                                   [collection]="collection">
    </app-character-characteristics>

    <app-character-companions *ngIf="isCompanions"
                              [columnIndex]="columnIndex"
                              class="full-width"
                              [playerCharacter]="playerCharacter"
                              [collection]="collection">
    </app-character-companions>

    <app-creature-conditions *ngIf="isConditions"
                             [columnIndex]="columnIndex"
                             class="full-width"
                             [creature]="playerCharacter"
                             [collection]="collection">
    </app-creature-conditions>

    <app-creature-damage-modifiers *ngIf="isDamageModifiers"
                                   class="full-width"
                                   [creature]="playerCharacter"
                                   [collection]="collection">
    </app-creature-damage-modifiers>

    <app-creature-equipment *ngIf="isEquipment"
                            [columnIndex]="columnIndex"
                            class="full-width"
                            [creature]="playerCharacter"
                            [collection]="collection">
    </app-creature-equipment>

    <app-character-features *ngIf="isFeatures"
                            class="full-width"
                            [playerCharacter]="playerCharacter"
                            [collection]="collection"
                            [columnIndex]="columnIndex">
    </app-character-features>

    <app-character-notes *ngIf="isNotes"
                         [columnIndex]="columnIndex"
                         class="full-width"
                         [playerCharacter]="playerCharacter"
                         [collection]="collection">
    </app-character-notes>

    <app-creature-proficiencies *ngIf="isProficiencies"
                                class="full-width"
                                [creature]="playerCharacter"
                                [collection]="collection">
    </app-creature-proficiencies>

    <app-creature-skills *ngIf="isSkills"
                         [columnIndex]="columnIndex"
                         class="full-width"
                         [creature]="playerCharacter"
                         [collection]="collection">
    </app-creature-skills>

    <app-creature-spells *ngIf="isSpells"
                         [columnIndex]="columnIndex"
                         class="full-width"
                         [creature]="playerCharacter"
                         [collection]="collection">
    </app-creature-spells>
  </div>
</div>
