<app-manage-list headerName="{{ 'Navigation.Manage.Races.Races' | translate }}"
                 [menuService]="raceService"
                 [manageService]="characteristicService"
                 [exportService]="exportService"
                 [exportable]="true"
                 exportType="Races"
                 (itemClick)="onItemClick($event.menuItem)">
</app-manage-list>

<app-add-remove-race *ngIf="selectedItem != null"
                     [race]="selectedItem"
                     (save)="updateSelected($event)"
                     (cancel)="closeItem()">
</app-add-remove-race>
