<app-details headerName="{{ 'Headers.Health' | translate }}"
             (close)="closeDetails()"
             (primary)="saveDetails()"
             (secondary)="closeDetails()"
             (tertiary)="resetClick()"
             primaryLabel="{{ 'Save' | translate }}"
             secondaryLabel="{{ 'Cancel' | translate }}"
             tertiaryLabel="{{ 'Reset' | translate }}"
             tertiaryConfirmationMessage="{{ 'HealthConfiguration.ResetConfirmation' | translate}}"
             class="details">
  <div class="full-height-component">
    <div class="form-group">
      <div class="form-group">
        <h4>{{ 'Headers.Current' | translate }}</h4>

        <div class="current-hp">
          <div>
            <label>{{ 'Labels.Base' | translate }}</label>
            <input type="number"
                   class="form-control"
                   [max]="maxHpTotal" min="0"
                   appInputNumber minValue="0" [maxValue]="maxHpTotal"
                   [(ngModel)]="currentHP"/>
          </div>

          <div>
            <label>{{ 'Labels.Temp' | translate }}</label>
            <input type="number"
                   class="form-control"
                   max="999" min="0"
                   appInputNumber minValue="0" maxValue="999"
                   [(ngModel)]="tempHP"/>
          </div>

          <div>
            <label>{{ 'Labels.Total' | translate }}</label>
            <span>{{currentHP + tempHP}}/</span>
            <span [matTooltip]="maxHpTotalTooltip">{{maxHpTotal}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <h4>{{ 'Headers.MaxHp' | translate }}</h4>

      <div class="form-group max-hp-final">
        <div>
          <label>{{ 'Labels.Calculated' | translate }}</label>
          <span>{{maxHp}}</span>
        </div>

        <div *ngFor="let modifier of maxHpModifiersDisplay;">
          <app-label-value [labelValue]="modifier"></app-label-value>
        </div>

        <div>
          <label>{{ 'Labels.Misc' | translate }}</label>
          <input type="number"
                 class="form-control"
                 max="999" min="-999"
                 appInputNumber minValue="-999" maxValue="999"
                 [ngModel]="maxHpMod"
                 (valueChange)="maxHpModifierChange($event)"/>
        </div>

        <div *ngFor="let penalty of maxHpPenaltiesDisplay;">
          <app-label-value [labelValue]="penalty"></app-label-value>
        </div>

        <div class="form-group">
          <label>{{ 'Labels.Total' | translate }}</label>
          <span>{{maxHpTotal}}</span>
        </div>
      </div>
    </div>

    <mat-expansion-panel class="on-dark">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'Headers.HitDice' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="hit-dice form-group">
        <div *ngFor="let hitDiceConfiguration of hitDiceConfigurationCollection">
          <label>d{{ 'DiceSize.' + hitDiceConfiguration.diceSize | translate }}</label>
          <input type="number"
                 class="form-control"
                 [max]="hitDiceConfiguration.max" min="0"
                 appInputNumber minValue="0" [maxValue]="hitDiceConfiguration.max"
                 [(ngModel)]="hitDiceConfiguration.remaining"/>
          <span [matTooltip]="hitDiceConfiguration.maxTooltip">/{{hitDiceConfiguration.max}}</span>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="on-dark">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'Headers.DeathSaves' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="form-group">
        <div class="form-group">
          <label>{{ 'Labels.Modifier' | translate }}</label>
          <input type="number"
                 class="form-control"
                 min="-99" max="99"
                 appInputNumber minValue="-99" maxValue="99"
                 [ngModel]="deathSaveProficiency.miscModifier"
                 (valueChange)="deathSaveModifierChange($event)"/>
        </div>

        <app-advantage-configuration [proficiency]="deathSaveProficiency">
        </app-advantage-configuration>

        <div class="form-group">
          <label>{{ 'Labels.ResurrectionPenalty' | translate }}</label>
          <input type="number"
                 class="form-control"
                 min="0" max="4"
                 appInputNumber minValue="0" maxValue="4"
                 [ngModel]="resurrectionPenalty"
                 (valueChange)="resurrectionPenaltyChange($event)"/>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="on-dark">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'Headers.Settings' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-health-settings [playerCharacter]="playerCharacter"
                           [settings]="settings">
      </app-health-settings>
    </mat-expansion-panel>

    <mat-expansion-panel class="on-dark">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'Headers.Advanced' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!--calculation type-->
      <div class="form-group">
        <mat-button-toggle-group [ngModel]="calculationType"
                                 (change)="calculationTypeChange($event.value)">
          <mat-button-toggle *ngFor="let calculationTypeChoice of calculationTypes"
                             [value]="calculationTypeChoice">
            {{ 'HealthCalculationType.' + calculationTypeChoice | translate }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <!-- hp modifier-->
      <div class="form-group">
        <label>{{ 'Labels.HpModifier' | translate }}</label>
        <input type="number"
               class="form-control"
               max="99" min="0"
               appInputNumber minValue="0" maxValue="99"
               [ngModel]="hpGainModifier"
               (valueChange)="hpGainModifierChange($event)"/>
        <mat-icon matTooltip="{{ 'Tooltips.HpModifier' | translate }}" class="help-icon">
          help
        </mat-icon>
      </div>

      <!--  class calculations-->
      <div *ngFor="let healthConfiguration of healthConfigurationCollection">
        <app-health-class [healthConfiguration]="healthConfiguration"
                          [healthCalculationType]="calculationType"
                          [hpModifier]="hpGainModifier"
                          [conModifier]="conModifier"
                          [levels]="levels">
        </app-health-class>
      </div>
    </mat-expansion-panel>
  </div>
</app-details>
