.feature-configuration {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-content {
  flex-grow: 1;
  height: 100%;
}

.pager {
  flex-shrink: 0;
}

.max-uses {
  input {
    width: 70px;
    display: inline;
  }

  .dice-size {
    width: 70px;
  }
}

.limited-use-container {
  margin-left: 20px;
}

.range {
  input {
    width: 70px;
    display: inline;
    margin: 0 5px;
  }
}

.add-limited-use-container {
  width: 100%;
  margin-bottom: 10px;

  .add-limited-use {
    margin: 0 auto;
    display:block;
  }
}
