@import '../../../sass/variables';

.details-configuration-action-buttons-container {
  flex-shrink: 0;
  margin: auto;
  width: $slide_in_large_min_width;
  padding: 0;
}

.mobile.details-configuration-action-buttons-container {
  width: 100%;
}

.details-configuration {
  padding: 10px;
  max-width: $slide_in_large_min_width;
}

.mobile.details-configuration {
  max-width: initial;
}

.details-configuration-action-buttons {
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;

  .action-button {
    display: table-cell;
    padding: 5px;

    button {
      width: 100%;
    }
  }
}
