<div class="form-group">
  <label>{{ 'Labels.Description' | translate }}</label>
  <span *ngIf="characterClass.description != null && characterClass.description.length > 0" class="info-description">{{characterClass.description}}</span>
  <span *ngIf="characterClass.description == null || characterClass.description.length === 0" class="info-description">{{ 'None' | translate }}</span>
</div>

<div class="form-group" *ngIf="characterClass.hitDice.numDice > 0">
  <label>{{ 'Labels.HitDicePerLevel' | translate }}</label>
  <app-dice-collection [editing]="false"
                       [loading]="false"
                       [diceCollection]="characterClass.hitDice"
                       [showAbility]="false"
                       [diceSizes]="diceSizes"
                       [abilities]="abilities">
  </app-dice-collection>
</div>

<div class="form-group" *ngIf="characterClass.hpAtFirst.numDice > 0">
  <label>{{ 'Labels.HpAtFirstLevel' | translate }}</label>
  <app-dice-collection [editing]="false"
                       [loading]="false"
                       [diceCollection]="characterClass.hpAtFirst"
                       [showDice]="false"
                       [diceSizes]="diceSizes"
                       [abilities]="abilities">
  </app-dice-collection>
</div>

<div class="form-group" *ngIf="characterClass.hpGain.numDice > 0 || characterClass.hpGain.miscModifier !== 0">
  <label>{{ 'Labels.HpGainPerLevel' | translate }}</label>
  <app-dice-collection [editing]="false"
                       [loading]="false"
                       [diceCollection]="characterClass.hpGain"
                       [diceSizes]="diceSizes"
                       [abilities]="abilities">
  </app-dice-collection>
</div>

<app-characteristic-details [characteristic]="characterClass">
</app-characteristic-details>
