.fa-copy {
  margin-left: 5px;
}

.token-container {
  border: 1px solid #aaaaaa;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px;
}

.copy-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.token-btn {
  margin: 0 5px;
}
