<div class="form-group row basic-container">
  <div class="cards-container">
    <div [ngClass]="{'half-column': !singleColumn, 'full-column': singleColumn}" class="basic-card">
      <!--    hp-->
      <mat-card [ngClass]="{'clickable': !clickDisabled}"
                (click)="hpClick()"
                class="progress-card">
        <div class="health-card-details">
          <div class="health-info-container">
            <label>{{ 'Labels.HP' | translate }}</label>
            <span [matTooltip]="currentHPTooltip">{{currentHP}}/</span>
            <span [matTooltip]="maxHPTooltip">{{maxHP}}</span>
          </div>

          <div *ngIf="isDying" class="death-saves-container">
            <div class="death-saves-row">
              <div class="death-save-icon"><i class="far fa-check-square" [ngClass]="{'fas': battleMonster.creatureHealth.numDeathSaveThrowSuccesses >= 1}"></i></div>
              <div class="death-save-icon"><i class="far fa-check-square" [ngClass]="{'fas': battleMonster.creatureHealth.numDeathSaveThrowSuccesses >= 2}"></i></div>
              <div class="death-save-icon"><i class="far fa-check-square" [ngClass]="{'fas': battleMonster.creatureHealth.numDeathSaveThrowSuccesses >= 3}"></i></div>
            </div>
            <div class="death-saves-row">
              <div class="death-save-icon"><i class="far fa-window-close" [ngClass]="{'fas': battleMonster.creatureHealth.numDeathSaveThrowFailures >= 1}"></i></div>
              <div class="death-save-icon"><i class="far fa-window-close" [ngClass]="{'fas': battleMonster.creatureHealth.numDeathSaveThrowFailures >= 2}"></i></div>
              <div class="death-save-icon"><i class="far fa-window-close" [ngClass]="{'fas': battleMonster.creatureHealth.numDeathSaveThrowFailures >= 3}"></i></div>
            </div>
          </div>

          <div class="tags-container">
          <span class="tag"
                *ngIf="bloody">
            <span>{{ 'Bloody' | translate }}</span>
          </span>
            <span class="tag"
                  *ngIf="isDead">
            <span>{{ 'Dead' | translate }}</span>
          </span>
          </div>
        </div>

        <app-tiered-progress-bar class="hp-progress"
                                 [value]="currentHP"
                                 [max]="maxHP"
                                 [ascending]="true">
        </app-tiered-progress-bar>
      </mat-card>
    </div>

    <div [ngClass]="{'half-column': !singleColumn, 'full-column': singleColumn}" class="basic-card">
      <!--    ac-->
      <mat-card [ngClass]="{'clickable': !clickDisabled}"
                (click)="acClick()">
        <label>{{ 'Labels.AC' | translate }}</label>
        <span [matTooltip]="acTooltip">{{ac}}</span>
      </mat-card>
    </div>
  </div>

  <div class="cards-container">
    <div [ngClass]="{'half-column': !singleColumn, 'full-column': singleColumn}" class="basic-card">
      <!--    speed-->
      <mat-card [ngClass]="{'clickable': !clickDisabled}"
                (click)="speedClick()">
        <label>{{ 'Labels.Speed' | translate }}</label>
        <span [matTooltip]="speedTooltip">{{speed}}</span>
        <span> ({{ 'SpeedType.' + speedType | translate }})</span>
      </mat-card>
    </div>

    <div [ngClass]="{'half-column': !singleColumn, 'full-column': singleColumn}" class="basic-card">
      <!--    prof-->
      <mat-card [ngClass]="{'clickable': !clickDisabled}"
                (click)="profClick()">
        <label>{{ 'Labels.ProfBonus' | translate }}</label>
        <span [matTooltip]="proficiencyBonusTooltip">{{proficiencyBonus}}</span>
      </mat-card>
    </div>
  </div>

  <div class="cards-container">
    <div [ngClass]="{'half-column': !singleColumn, 'full-column': singleColumn}" class="basic-card">
      <!--    delay turn-->
      <mat-card [ngClass]="{ 'clickable': !clickDisabled }"
                (click)="delayTurnClick()">
        <span>{{ 'Headers.DelayTurn' | translate }}</span>
      </mat-card>
    </div>

    <div [ngClass]="{'half-column': !singleColumn, 'full-column': singleColumn}" class="basic-card">
      <!--    flee-->
      <mat-card [ngClass]="{ 'clickable': !clickDisabled }"
                (click)="fleeClick()">
        <span>{{ 'Headers.Flee' | translate }}</span>
      </mat-card>
    </div>
  </div>
</div>

<app-ac-details *ngIf="viewingAC"
                [creature]="battleMonster"
                [collection]="collection"
                (close)="closeClick()">
</app-ac-details>

<app-health-details *ngIf="viewingHP"
                    [creature]="battleMonster"
                    [collection]="collection"
                    [quickKill]="quickKill"
                    (save)="healthSaveClick()"
                    (close)="closeClick()">
</app-health-details>

<!--<app-resurrection-details *ngIf="viewingHP && isDead"-->
<!--                          [playerCharacter]="battleMonster"-->
<!--                          [collection]="collection"-->
<!--                          (resurrect)="healthSaveClick()"-->
<!--                          (close)="closeClick()">-->
<!--</app-resurrection-details>-->

<app-proficiency-bonus-details *ngIf="viewingProf"
                               [creature]="battleMonster"
                               [collection]="collection"
                               (close)="closeClick()">
</app-proficiency-bonus-details>

<app-speed-details *ngIf="viewingSpeed"
                   [creature]="battleMonster"
                   [collection]="collection"
                   (save)="closeClick()"
                   (close)="closeClick()">
</app-speed-details>
