<app-details headerName="{{ 'Navigation.Manage.Races.Add' | translate }}"
             [loading]="loading"
             [fixed]="true"
             (close)="cancelClick()"
             (primary)="continueClick()"
             (secondary)="cancelClick()"
             primaryLabel="{{ 'Continue' | translate }}"
             secondaryLabel="{{ 'Cancel' | translate }}"
             class="details">
  <div class="details-configuration">
    <cdk-virtual-scroll-viewport itemSize="54" class="add-races-list">
      <div *cdkVirtualFor="let item of races; templateCacheSize: 50" class="list-menu-item">
        <mat-checkbox class="on-dark" [checked]="item.selected" (change)="toggleSelected(item)"></mat-checkbox>
        <mat-card class="card clickable ellipsis" [ngClass]="item.selected ? 'selected' : ''" (click)="raceClick(item)">
          <div>
            <span class="bold">{{item.name}}</span>
          </div>
        </mat-card>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <app-add-remove-race *ngIf="viewingRace != null"
                       [race]="viewingRace"
                       (save)="toggleSelected($event)"
                       (cancel)="closeDetails()">
  </app-add-remove-race>
</app-details>
