.spellcasting-attributes {
  padding: 0;
  margin-top: 16px;
  display: table;
  table-layout: fixed;
  width: 100%;

  .spellcasting-attribute {
    display: table-cell;
    text-align: center;

    mat-card {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      padding-right: 5px;
    }

    .header {
      font-weight: bold;
    }
  }
}
