<div>
  <div *ngIf="modifierConfigurationCollection.modifierConfigurations.length === 0" class="no-items-label">
    {{ 'NoModifiers' | translate }}
  </div>
  <div *ngFor="let config of modifierConfigurationCollection.modifierConfigurations" class="modifiers">
    <div>
      <label>{{getName(config)}}:</label>
      <span *ngIf="config.adjustment && config.value !== 0">+ {{config.value}}</span>
      <span *ngIf="!config.adjustment && config.value !== 0">{{config.value}}</span>

      <i *ngIf="editing"
         class="delete-config fas fa-trash-alt"
         [ngClass]="{'disabled': disabled || configuringModifier != null}"
         (click)="deleteModifier(config)"
         matTooltip="{{ 'Tooltips.Delete' | translate }}"></i>
      <i *ngIf="editing"
         class="configure-config fas fa-cog"
         [ngClass]="{'disabled': disabled || configuringModifier != null}"
         (click)="configureModifier(config)"
         matTooltip="{{ 'Tooltips.Configure' | translate }}"></i>
    </div>
    <div class="modifier-details" *ngIf="config.abilityModifier != null && config.abilityModifier.id !== '0'">+ {{config.abilityModifier.name}}</div>
    <div class="modifier-details" *ngIf="config.proficient">+ {{ 'ProfBonus' | translate }}</div>
    <div class="modifier-details" *ngIf="config.halfProficient && !config.roundUp">+ {{ 'HalfProfBonus' | translate }}</div>
    <div class="modifier-details" *ngIf="config.halfProficient && config.roundUp">+ {{ 'HalfProfBonusRoundUp' | translate }}</div>
    <div class="modifier-details" *ngIf="config.useLevel">+ {{ 'Headers.Level' | translate }}</div>
    <div class="modifier-details" *ngIf="config.useHalfLevel">+ {{ 'HalfLevel' | translate }}</div>

    <div class="modifier-details" *ngIf="config.advantage">{{ 'Advantage' | translate }}</div>
    <div class="modifier-details" *ngIf="config.disadvantage">{{ 'Disadvantage' | translate }}</div>
  </div>

  <div class="add-modifiers-container">
    <button *ngIf="editing" type="button" (click)="addModifier()"
            class="squire-button btn btn-danger add-modifier"
            [ngClass]="{'disabled': disabled || configuringModifier != null}">
      {{ 'Navigation.Manage.Modifier.Add' | translate }}
    </button>
  </div>
</div>

<!--extra modifiers-->
<div *ngIf="showExtra && (editing || modifierConfigurationCollection.extraModifiers)">
  <label>{{ 'Labels.ExtraModifiers' | translate }}</label>

  <div class="form-group">
    <mat-checkbox
      (change)="extraModifierChange($event)"
      [disabled]="!editing"
      [checked]="modifierConfigurationCollection.extraModifiers">
    </mat-checkbox>
    <span>{{ 'Headers.HasExtraModifiers' | translate }}</span>
  </div>

  <div class="num-levels-above-base form-group" *ngIf="modifierConfigurationCollection.extraModifiers">
    <span class="extra-per">{{ 'Headers.ExtraModifiersPer' | translate }}</span>
    <span *ngIf="!editing">{{modifierConfigurationCollection.numLevelsAboveBase}}</span>
    <input *ngIf="editing" type="number" class="form-control"
           min="1" max="99"
           appInputNumber minValue="1" maxValue="99"
           [ngModel]="modifierConfigurationCollection.numLevelsAboveBase"
           (valueChange)="numLevelsAboveBaseChange($event)"/>
    <span translate="Headers.LevelsAboveBase"
          [translateParams]="{level: baseLevel}" class="levels-above-base"></span>
  </div>

  <div *ngIf="modifierConfigurationCollection.extraModifiers">
    <div *ngIf="modifierConfigurationCollection.extraModifierConfigurations.length === 0" class="no-items-label">
      {{ 'NoModifiers' | translate }}
    </div>
    <div *ngFor="let config of modifierConfigurationCollection.extraModifierConfigurations" class="modifiers">
      <div>
        <label>{{getName(config)}}:</label>
        <span *ngIf="config.adjustment && config.value !== 0">+ {{config.value}}</span>
        <span *ngIf="!config.adjustment && config.value !== 0">{{config.value}}</span>

        <i *ngIf="editing"
           class="delete-config fas fa-trash-alt"
           [ngClass]="{'disabled': disabled || configuringModifier != null}"
           (click)="deleteExtraModifier(config)"
           matTooltip="{{ 'Tooltips.Delete' | translate }}"></i>
        <i *ngIf="editing"
           class="configure-config fas fa-cog"
           [ngClass]="{'disabled': disabled || configuringModifier != null}"
           (click)="configureModifier(config)"
           matTooltip="{{ 'Tooltips.Configure' | translate }}"></i>
      </div>
      <div class="modifier-details" *ngIf="config.abilityModifier != null && config.abilityModifier.id !== '0'">+ {{config.abilityModifier.name}}</div>
      <div class="modifier-details" *ngIf="config.proficient">+ {{ 'ProfBonus' | translate }}</div>
      <div class="modifier-details" *ngIf="config.halfProficient && !config.roundUp">+ {{ 'HalfProfBonus' | translate }}</div>
      <div class="modifier-details" *ngIf="config.halfProficient && config.roundUp">+ {{ 'HalfProfBonusRoundUp' | translate }}</div>
      <div class="modifier-details" *ngIf="config.useLevel">+ {{ 'Headers.Level' | translate }}</div>
      <div class="modifier-details" *ngIf="config.useHalfLevel">+ {{ 'HalfLevel' | translate }}</div>

      <div class="modifier-details" *ngIf="config.advantage">{{ 'Advantage' | translate }}</div>
      <div class="modifier-details" *ngIf="config.disadvantage">{{ 'Disadvantage' | translate }}</div>
    </div>
  </div>

  <div class="add-modifiers-container" *ngIf="modifierConfigurationCollection.extraModifiers">
    <button *ngIf="editing" type="button" (click)="addExtraModifier()"
            class="squire-button btn btn-danger add-modifier"
            [ngClass]="{'disabled': disabled || configuringModifier != null}">
      {{ 'Navigation.Manage.Modifier.Add' | translate }}
    </button>
  </div>
</div>

<!--advancement modifiers-->
<div *ngIf="showAdvancement && (editing || modifierConfigurationCollection.advancementModifiers)">
  <label>{{ 'Labels.CharacterAdvancement' | translate }}</label>

  <div class="form-group">
    <mat-checkbox
      (change)="advancementModifierChange($event)"
      [disabled]="!editing"
      [checked]="modifierConfigurationCollection.advancementModifiers">
    </mat-checkbox>
    <span>{{ 'Headers.HasAdvancementModifiers' | translate }}</span>
  </div>

  <div *ngIf="modifierConfigurationCollection.advancementModifiers">
    <div *ngIf="modifierConfigurationCollection.advancementModifierConfigurations.length === 0" class="no-items-label">
      {{ 'NoModifiers' | translate }}
    </div>
    <div *ngFor="let level of characterLevels" class="modifiers form-group">
      <div *ngIf="hasLevel(level)">
        <label [translate]="'Labels.Level'"
               [translateParams]="{level: level.name}"></label>
        <div *ngFor="let config of modifierConfigurationCollection.advancementModifierConfigurations">
          <div *ngIf="config.level.id === level.id" class="modifiers">
            <div>
              <label>{{getName(config)}}:</label>
              <span *ngIf="config.adjustment && config.value !== 0">+ {{config.value}}</span>
              <span *ngIf="!config.adjustment && config.value !== 0">{{config.value}}</span>

              <i *ngIf="editing"
                 class="delete-config fas fa-trash-alt"
                 [ngClass]="{'disabled': disabled || configuringModifier != null}"
                 (click)="deleteAdvancementModifier(config)"
                 matTooltip="{{ 'Tooltips.Delete' | translate }}"></i>
              <i *ngIf="editing"
                 class="configure-config fas fa-cog"
                 [ngClass]="{'disabled': disabled || configuringModifier != null}"
                 (click)="configureModifier(config)"
                 matTooltip="{{ 'Tooltips.Configure' | translate }}"></i>
            </div>
            <div class="modifier-details" *ngIf="config.abilityModifier != null && config.abilityModifier.id !== '0'">+ {{config.abilityModifier.name}}</div>
            <div class="modifier-details" *ngIf="config.proficient">+ {{ 'ProfBonus' | translate }}</div>
            <div class="modifier-details" *ngIf="config.halfProficient && !config.roundUp">+ {{ 'HalfProfBonus' | translate }}</div>
            <div class="modifier-details" *ngIf="config.halfProficient && config.roundUp">+ {{ 'HalfProfBonusRoundUp' | translate }}</div>
            <div class="modifier-details" *ngIf="config.useLevel">+ {{ 'Headers.Level' | translate }}</div>
            <div class="modifier-details" *ngIf="config.useHalfLevel">+ {{ 'HalfLevel' | translate }}</div>

            <div class="modifier-details" *ngIf="config.advantage">{{ 'Advantage' | translate }}</div>
            <div class="modifier-details" *ngIf="config.disadvantage">{{ 'Disadvantage' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="add-modifiers-container" *ngIf="modifierConfigurationCollection.advancementModifiers">
    <button *ngIf="editing" type="button" (click)="addAdvancementModifier()"
            class="squire-button btn btn-danger add-modifier"
            [ngClass]="{'disabled': disabled || configuringModifier != null}">
      {{ 'Navigation.Manage.Modifier.Add' | translate }}
    </button>
  </div>
</div>

<app-power-modifier-configuration *ngIf="configuringModifier != null && editing"
                                  [modifierConfiguration]="configuringModifier"
                                  [modifierConfigurationsInUse]="modifierConfigurationsInUse"
                                  (close)="modifierConfigurationClose()"
                                  (continue)="modifierConfigurationContinue($event)">
</app-power-modifier-configuration>
