<app-details headerName="{{ 'Headers.ShortRest' | translate }}"
             (close)="closeDetails()"
             (primary)="restClick()"
             (secondary)="closeDetails()"
             primaryLabel="{{ 'Rest' | translate }}"
             secondaryLabel="{{ 'Cancel' | translate }}"
             class="details">
  <div class="current-hp">
    <span [matTooltip]="currentHPTooltip" [ngClass]="{'positive-modifier': tempHP > 0 && playerCharacter.characterSettings.health.highlightValues}">{{currentHP + tempHP}}</span>
    <span class="slash">/</span>
    <span [matTooltip]="maxHPTooltip" [ngClass]="{
        'positive-modifier': maxHpModifier > 0 && playerCharacter.characterSettings.health.highlightValues,
        'negative-modifier': maxHpModifier < 0 && playerCharacter.characterSettings.health.highlightValues
      }">{{maxHP}}</span>
    <span class="hp-label">HP</span>
  </div>

  <div class="form-group">
    <h3 class="hit-dice-label">{{ 'Headers.HitDice' | translate }}</h3>
    <app-hit-dice-use-display [creature]="playerCharacter"
                              [conModifier]="conModifier"
                              [hitDice]="hitDice"
                              (applyHitDiceResults)="applyHitDiceResults($event)">
    </app-hit-dice-use-display>
  </div>

  <div class="info">
    <span class="allow-line-break">{{ 'Messages.ShortRest' | translate }}</span>
  </div>

</app-details>
