.sub-details {
  margin-left: 20px;
}

.chance-of-destruction {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.attuned {
  margin-left: 5px;
}

.damages {
  margin-left: 20px;
}

.versatile-damages {
  margin-top: 10px;
}

.modifier {
  margin-right: 5px;
}

.range-container {
  display: inline;
  margin-left: 10px;
}

.attunement-class {
  margin-left: 20px;
}

.single-attunement-class {
  display: inline;
  margin-left: 0;
}
