<app-manage-list headerName="{{ 'Navigation.Manage.AreaOfEffects.AreaOfEffects' | translate }}"
                 [menuService]="areaOfEffectService"
                 [manageService]="attributeService"
                 (itemClick)="onItemClick($event.menuItem)">
</app-manage-list>

<app-add-remove-area-of-effect *ngIf="selectedItem != null"
                               [areaOfEffect]="selectedItem"
                               (save)="updateSelected($event)"
                               (cancel)="closeItem()">
</app-add-remove-area-of-effect>
