<!--Expendable-->
<app-is-expendable-configuration [item]="gear"
                                 [editing]="editing">
</app-is-expendable-configuration>

<!--Equippable-->
<app-is-equippable-configuration [item]="gear"
                                 [editing]="editing">
</app-is-equippable-configuration>

<!--Is Container-->
<app-is-container-configuration [item]="gear"
                                [editing]="editing">
</app-is-container-configuration>

<!--Cost-->
<app-cost-configuration [item]="gear"
                        [editing]="editing">
</app-cost-configuration>

<!--Weight-->
<app-weight-configuration [item]="gear"
                          [editing]="editing">
</app-weight-configuration>

<!--Description-->
<app-description-configuration [item]="gear"
                               [editing]="editing"
                               [maxLength]="1000">
</app-description-configuration>
