<div class="slide-in-header center-content">
<!--  <button mat-icon-button-->
<!--          class="no-focus header-icon initiative-icon"-->
<!--          [ngClass]="{'mobile': !desktop}"-->
<!--          (click)="initiativeClick()">-->
<!--    <i class="fa-solid fa-list"></i>-->
<!--  </button>-->
  <h4 class="header-name">{{name}}</h4>

<!--  <button mat-icon-button-->
<!--          class="no-focus header-icon"-->
<!--          *ngIf="desktop"-->
<!--          (click)="rollClick()">-->
<!--    <i class="fa-solid fa-dice-d20"></i>-->
<!--  </button>-->

<!--  <button mat-icon-button-->
<!--          class="no-focus header-icon"-->
<!--          *ngIf="desktop"-->
<!--          (click)="attackClick()">-->
<!--    <i class="fa-solid fa-shield"></i>-->
<!--  </button>-->

<!--  <button mat-icon-button-->
<!--          class="no-focus header-icon"-->
<!--          (click)="notificationsClick()">-->
<!--    <i class="fa-solid fa-bell" *ngIf="!notificationsActive"></i>-->
<!--    <i class="fa-solid fa-bell-on" *ngIf="notificationsActive"></i>-->
<!--  </button>-->
</div>
