<app-details headerName="{{ 'Headers.Initiative' | translate }}"
             [configurable]="true"
             (configure)="configure()"
             (close)="closeDetails()"
             (primary)="roll()"
             (secondary)="closeDetails()"
             primaryLabel="{{ 'Roll' | translate }}"
             secondaryLabel="{{ 'Close' | translate }}"
             class="details">
  <div>
    <label>{{ 'Labels.Dex' | translate }}</label>
    <span>{{base}}</span>
  </div>

  <div *ngFor="let modifier of modifiersDisplay;">
    <app-label-value [labelValue]="modifier"></app-label-value>
  </div>

  <div *ngIf="profModifier !== 0">
    <label>{{ 'Labels.Prof' | translate }}</label>
    <span>{{profModifier}}</span>
  </div>

  <div class="form-group">
    <label>{{ 'Labels.Misc' | translate }}</label>
    <span>{{misc}}</span>
  </div>

  <div class="form-group">
    <label class="font-weight-bold">{{ 'Labels.Total' | translate }}</label>
    <span>{{total}}</span>
  </div>

  <div class="form-group">
    <app-advantage-configuration class="on-dark"
                                 [proficiency]="proficiency">
    </app-advantage-configuration>
  </div>
</app-details>

<app-initiative-configuration *ngIf="configuring"
                              [playerCharacter]="playerCharacter"
                              [collection]="collection"
                              (save)="saveConfigurations()"
                              (close)="closeConfigurations()">
</app-initiative-configuration>
