<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div class="col-md-6 col-xs-12 change-password">
  <h1>{{ 'Auth.Password.Change' | translate }}</h1>
  <form [formGroup]="formChangePassword" (submit)="changePassword()">
    <div class="form-group">
      <label for="originalPassword">{{ 'Auth.Password.Original' | translate }}</label>
      <show-hide-password size="lg" icon="fontawesome" btnStyle="primary" [btnOutline]="false">
        <input id="originalPassword" formControlName="originalPassword" type="password" class="form-control">
      </show-hide-password>
    </div>

    <div class="form-group">
      <label for="password">{{ 'Auth.Password.New' | translate }}</label>
      <show-hide-password size="lg" icon="fontawesome" btnStyle="primary" [btnOutline]="false">
        <input id="password" maxlength="20" formControlName="password" type="password" class="form-control">
      </show-hide-password>
      <label class="col first-requirement"
             [ngClass]="formChangePassword.controls['password'].hasError('required') || formChangePassword.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
        <i class="material-icons">{{ formChangePassword.controls['password'].hasError('required') ||
          formChangePassword.controls['password'].hasError('minlength') ? 'cancel' :
          'check_circle' }}</i>
        {{ 'Auth.Password.Requirements.Length' | translate }}
      </label>
      <label class="col"
             [ngClass]="formChangePassword.controls['password'].hasError('required') || formChangePassword.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
        <i class="material-icons">{{ formChangePassword.controls['password'].hasError('required') ||
          formChangePassword.controls['password'].hasError('hasNumber') ? 'cancel' :
          'check_circle' }}</i>
        {{ 'Auth.Password.Requirements.Number' | translate }}
      </label>
      <label class="col"
             [ngClass]="formChangePassword.controls['password'].hasError('required') || formChangePassword.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
        <i class="material-icons">{{ formChangePassword.controls['password'].hasError('required') ||
          formChangePassword.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
          'check_circle' }}</i>
        {{ 'Auth.Password.Requirements.Capital' | translate }}
      </label>
      <label class="col"
             [ngClass]="formChangePassword.controls['password'].hasError('required') || formChangePassword.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
        <i class="material-icons">{{ formChangePassword.controls['password'].hasError('required') ||
          formChangePassword.controls['password'].hasError('hasSmallCase') ? 'cancel' :
          'check_circle' }}</i>
        {{ 'Auth.Password.Requirements.Lower' | translate }}
      </label>
    </div>

    <div class="form-group">
      <label for="confirmPassword">{{ 'Auth.Password.Confirm' | translate }}</label>
      <show-hide-password size="lg" icon="fontawesome" btnStyle="primary" [btnOutline]="false">
        <input id="confirmPassword" maxlength="20" formControlName="confirmPassword" type="password" class="form-control">
      </show-hide-password>
      <label class="text-danger" *ngIf="formChangePassword.controls['confirmPassword'].hasError('NoPasswordMatch')">
        {{ 'Auth.Password.Requirements.Match' | translate }}
      </label>
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="formChangePassword.invalid || loading" class="squire-button btn btn-primary">{{ 'Auth.Password.Change' | translate }}</button>
      <a [routerLink]="['/']" class="btn btn-link">{{ 'Cancel' | translate }}</a>
    </div>
  </form>
</div>
