.help-icon {
  margin-left: 10px;
}

.race-speeds {
  input {
    width: 70px;
    display: inline;
  }

  .hover {
    display: inline;
    margin-left: 35px;
  }
}

.starting-equipment {
  input {
    width: 70px;
    display: inline;
  }
}
