input {
  margin: 0 10px;
}

.tag-header {
  padding: 0 24px 0 12px;
}

.mat-expansion-indicator::after {
  color: #ffffff !important;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  .feature-card {
    flex-grow: 1;
  }
}
